*{
  font-size: 15px;
  padding: 0px;
}

.margin-sides{
  margin-left: 25px;
  margin-right: 25px
}

.margin-top{
  margin-top: 25px;
}

.margin-bottom{
  margin-bottom: 25px;
}


.main-container{
  background-color: #e8eaec;
}

.project{
  margin-top: 25px;
}

.projects,.about-container{
  text-align: center;
}
.about{
  text-align: left;
}

.container{
  padding-right : 0 !important;
  padding-left : 0 !important;
 }

 .footer-a{
   color: black;
   text-decoration: none;
 }

.footer-a img{
  border: none;
  width: 60px;
}
