*{
  font-size: 15px;
}

.margin-sides{
  margin-left: 25px;
  margin-right: 25px;
}

.margin-top{
  margin-top: 25px;
}

.margin-bottom{
  margin-bottom: 25px;
}

.main-container{
  background-color: #e8eaec;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0xp;
}

.project{
  margin-top: 25px;
}

.projects,.about-container{
  text-align: center;
}
.about{
  text-align: left;
}

.container{
  padding-right : 0 !important;
  padding-left : 0 !important;
 }

.container-fluid{
  padding-right : 0 !important;
  padding-left : 0 !important;
 }

 .footer-a{
   color: black;
   text-decoration: none;
 }

.footer-a img{
  border: none;
  width: 60px;
}

.portrait-img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row{
  margin-right: 0;
}